body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, label, p, blockquote, th, td { margin:0; padding:0;  }
body{ background:  #ffffff; font-size: 11px; } /*url("../images/bg.png") repeat-x top left*/
*::-webkit-input-placeholder { color: #ccc; font-size: 17px; font-style: italic;  }
*:-moz-placeholder { color: #ccc; font-size: 17px; font-style: italic;  }
*::-moz-placeholder { color: #ccc; font-size: 17px; font-style: italic;  }
*:-ms-input-placeholder { color: #ccc; font-size: 17px;font-style: italic;   }
pre { font-family: Helvetica; }
/*@font-face { font-family: HelveticaLTSBold; src: url('font/HelveticaLTStd-Bold.otf'); }
@font-face { font-family: HelveticaLTSNeue; src: url('font/HelveticaNeueLTStd-Th.otf'); }
@font-face { font-family: HelveticaLTSRoman; src: url('font/HelveticaNeueLTStd-Roman.otf'); }*/
ol, ul { list-style: none; }
div,input,textarea,label,li,button{ outline: none; }
a, a:hover{ text-decoration: none; }
.right { float: right; }
.left { float: left; }
.select_type { font-size: 22px; cursor: pointer; padding-bottom: 15px; display: block; }
.center { text-align: center; }
.abs { position: absolute; right: 20px; }
	.wrapper{ margin: 0 auto; width: 320px; }
		.tree{ background: url("../images/tree.png") no-repeat top left; width: 281px; height: 186px; margin: 25% auto 0; }
		.logo{ background: url("../images/logo.png") no-repeat top left; width: 275px; height: 78px; margin: 9% auto 3%; }
		.logo_acount { margin: 3% auto 1%; }
		.content, .loginForm{ margin: 0 auto; width: 280px; }
			.content p{ color: #1a1a1a; font-size: 16px; font-weight: bold; text-align: center; font-family:Helvetica; margin-top: 3%;}
		.loginForm{ }
			.loginForm input { border: 1px solid #cccccc; padding: 12px 10px 12px 60px; width: 208px; margin: 0px; color: #000000; font-size: 17px; }
			.loginForm input.text{ border-bottom: 0px; border-radius: 10px 10px 0 0; height: 20px; background: url("../images/loginIcons.png") no-repeat left -1px #ffffff; }
			.loginForm input.password{ border-radius: 0 0 10px 10px; background: url("../images/loginIcons.png") no-repeat left -46px #ffffff; height: 20px; }
			.loginForm input.submit{ border-radius: 3px; border: 1px solid #3a6884; margin: 5% 0px; width: 100%; padding: 12px 10px; font-size: 16px; color: #ffffff; background: #518caf; }
			.loginForm input.saveBtn{ margin: 0 auto; }
			.loginForm input.startBtns { margin: 0 auto 5%; }
			.loginForm input.account { border-radius: 3px; width: 258px; margin: 5% 0px 0px; padding: 12px 10px; font-size: 17px; }
			#forgot { text-decoration: none; color: #5d97b9; font-size: 17px; text-align: center; display: block; font-family:Helvetica; text-shadow: 0 1px #fff; }
			.loginForm label { color: #666666; font-size: 17px; font-family:Helvetica; margin-top: 15%; padding-left: 10px; }
			.half_btn input.submit { width: 135px; float: left; margin-right: 10px; }
			.half_btn input.btnright { float: right; margin: 0px; }
			.half_btn input.startBtns { margin: 0 auto 5%; }
		.header {  background: #5d97b9; min-height: 31px; padding: 19px 6px 6px; border-bottom: 1px solid #1d4461; border-top: 1px solid #8bb9d3; box-shadow: 0px 2px 4px 0px #8bb9d3; position: relative;
			background: -webkit-linear-gradient(#5d97b9, #3070a0); /* For Safari 5.1 to 6.0 */
  		background: -o-linear-gradient(#5d97b9, #3070a0); /* For Opera 11.1 to 12.0 */
  		background: -moz-linear-gradient(#5d97b9, #3070a0); /* For Firefox 3.6 to 15 */
  		background: linear-gradient(#5d97b9, #3070a0); /* Standard syntax */
		 }
			.header .headerB { background: url('../images/icons.png') 5px -39px ; border: none; padding: 6px 15px 5px; margin: 0px; line-height: normal; }
			.header .add, .header .calendar { width: 40px; height: 40px; padding: 0px;  margin-right: 6px; margin-top: -3px; }
			.header .calendar { margin-right: 0px; }
			#classSpan, #classSpan1 { font-size: 20px; color: #ffffff; font-family:Helvetica; background: none; border: 0px; box-shadow: 0 0px 0px; cursor: default; padding: 0px 0px 0px; margin: 0px; width: 180px; border-radius: 0px; vertical-align: middle; height: 20px; }
			#classSpan1 { color: #000000; margin-top: 4px; width: 200px; }
		.projects { border-bottom: 1px solid #e6e6e6; /*background: url("../images/line-bg.png") repeat-x scroll left bottom rgba(0, 0, 0, 0);*/ }
		.projectName{ font-family:Helvetica; font-size: 12px; padding: 9px 10px 1px 20px; /*border-bottom: 1px solid #e6e6e6; */color: #000000; cursor: default; line-height: normal; font-weight: bold; }
		.clientName{ font-family:Helvetica; font-size: 12px; padding: 9px 10px 1px; color: #666; cursor: default; line-height: normal; }
		.taskDetail{ padding: 9px 10px 8px; /*border-bottom: 1px solid #e6e6e6;*/ cursor: pointer; /*background: url('../images/line-bg.png') repeat-x left bottom;*/ }
		/*.taskDetail:active{  background: -webkit-linear-gradient(#E6E6E6, #ffffff);  background: -o-linear-gradient(#E6E6E6, #ffffff);  background: -moz-linear-gradient(#E6E6E6, #ffffff);  background: linear-gradient(#E6E6E6, #ffffff); }*/
			.taskDetail .taskName{ font-family:Helvetica; font-size: 12px; color: #666666; padding-left: 10px; }
		.arrow { background: url("../images/icons.png") no-repeat 0px -138px; width: 10px; height: 15px; margin-top: 4px; }
			.taskDetail .hourContainer{ margin-right: 15px; padding: 0px 5px 0px; height: 22px; }
			.taskDetail .active { background: #ff9878; border-radius: 5px; }
				.taskDetail .hourContainer .clock { background: url("../images/icons.png") no-repeat -4px -548px; width: 13px; height: 14px; margin-top: 5px; margin-right: 5px; margin-bottom: -4px; }
				.taskDetail .active .clock { background: url("../images/icons.png") no-repeat -4px -582px; }
				.taskDetail .hourContainer .hours { font-size: 17px; color: #999999; font-family:Helvetica; position: relative; top: 1px; line-height: normal; }
				.taskDetail .active .hours { color: #ffffff; }
		.footer{ height: 49px; background: url('../images/footer-bg.png') repeat-x left top; position: fixed; bottom: 0px; width: 100%; }
			.footers{ width: 25%; /*padding-right: 2px;*/ background: url('../images/footers-bg.png') repeat-y right top; height: inherit; position: relative; }
			.footer_last{ padding-right: 0px; width: 25%; background: none; }
				.items{ border: 2px solid #fff; background: #e30b14; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; color: #fff; font-size: 17px; font-weight: bold; float: right; position: absolute; top: 1px; z-index: 2; padding: 0 6px; right: 3px; box-shadow: 0px 1px 3px #000; }
				.footer_active{ width: 100%; height: 100%; background: url('../images/active-bg.png') repeat-x left top; position: relative; }
					.blur{ width: 100%; height: 100%; background: url('../images/active-blur.png') no-repeat center top; }
			.act .footer_container{ top: -49px; }
				.footer_container{ position: relative; left: 0px; width: 100%; height: 100%; /*padding-top: 2px;*/ cursor: pointer; }
					.timesheet_footer, .expenses_footer, .account_footer{ background: url('../images/footer_icon.png') no-repeat 0px 0px; width: 36px; margin: 0 auto; padding-top: 33px; }
					.expenses_footer{ background: url('../images/footer_icon.png') no-repeat -79px 0px; width: 30px; }
					.pending_footer{ background: url('../images/footer_icon.png') no-repeat -159px 0px; width: 30px; padding-top: 33px; margin: 0 auto; }
					.account_footer{ background: url('../images/footer_icon.png') no-repeat -240px 0px; width: 28px; }
					.footer_link, .footer_link:hover{ display: block; margin: 0 auto; width: 80px; text-align: center; color: #ffffff; font-family:Helvetica; font-size: 10px; line-height: normal; text-shadow: 0px -1px #335c80; }
					.act .footer_link{ text-shadow: 0px 1px #122433; }
		.add_wrap { padding: 10px; }
			.add_ul { /*border: 1px solid #ABABAB; border-radius: 12px;*/ }
				.add_ul li { line-height: normal; font-size: 14px; font-family:Helvetica; border-bottom: 1px solid #8bb9d3; padding: 7px 10px 10px; cursor: pointer; }
				.add_ul .dropdown-menu li { padding: 0; border-bottom: 0px; }
				.add_ul li.last_li { /*border-bottom: 0px;*/ padding-right: 35px; }
				.add_ul li.notes { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
					#add_calendar{ margin-top: -1px; margin-left: -4px; margin-right: 10px; background: url('../images/icons.png') -1px -621px; width: 28px; height: 28px; }
						.datePicker li { color: #333333; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 10px; line-height: 20px; }
					.square { display: inline-block; background: #c9dde9; border-radius: 5px; margin: 0px 8px -3px -3px; color: #326488; padding: 3px 10px; }
					.square_active { background: #ff9878; color: #ffffff; }
			/*.add_note { margin-top: 10px; }*/
			.timepicker { margin: 15px auto; }
				.timepicker input.form-control { /*height: 116px;*/ width: 36px; /*font-size: 108px; border: 2px solid #b7b7b7;*/ padding: 6px; line-height: normal; }
				.timepicker table { margin: 0 auto;}
		.lists {}
			.lists li { padding: 5px 10px 2px; border-bottom: 1px solid #E6E6E6; font-weight: bold; cursor: pointer; }
			.lists li.tasks_list { padding: 16px 10px 13px; }
				.lists li p { color: #0f0f0f; font-size: 16px; }
				.lists li span { color: #666666; font-size: 14px; }
		.textWrap { width: 300px; margin: 10px auto 0; }
			.noteText { width: 274px; }
		.no_data { }
			.no_data p { color: #000; font-size: 18px; font-family:Helvetica; text-align: center; padding-top: 40%; }
.glyphicon { background: url("../img/glyphicons-halflings.png") no-repeat left top;height: 14px; vertical-align: text-top; }
.glyphicon-chevron-left { background-position: -432px -72px; }
.glyphicon-chevron-right { background-position: -458px -72px; }
.glyphicon:before { content: initial; }
.dropdown-menu { padding: 5px; }
.modal-dialog { width: 300px; }
.modal-footer { margin-top: 0px; }
.modal-body { padding: 20px 20px 5px; }
.glyphicon-chevron-up{ background-position: -288px -121px; }
.glyphicon-chevron-down{ background-position: -312px -121px; }
.progress { height: 43px; margin-top: 20px; }
.progress-bar { padding-top: 11px; }
.form-control { width: 274px; }
.scroller { overflow: auto; -webkit-overflow-scrolling: touch; position: absolute; top: 101px; bottom: 0px; left: 0px; right: 0px; }
#smallImage{ width: 22px; height: 22px; }
.anim{ position: absolute; width: 100%;	height: 100%; overflow: hidden; }
.anim-enter{/*opacity: 1;*/	background: #fff; z-index: 3;}
.anim-leave{z-index: 2;}
.loginForm input.submit:active,.footer_container:active { background: none repeat scroll 0 0 #C9DDE9; color: #326488; text-shadow: 0px -1px #fff; }
.loginForm input.disabled,.loginForm input.disabled:active{ border: 1px solid #ccc; color: #666; background: #eee;text-shadow: 0px 1px #fff; }
/* New */
/*.loginForm input.submit:active,.footer_container:active { background: none repeat scroll 0 0 #2e5375; color: #fff; text-shadow: 0px -1px #182833; }*/
/*.add_ul li:active, .taskDetail:active , .lists li:active { background-color: #eaf3f8; }*/
/*.add_ul li:active, .taskDetail:active  .taskName, .lists li:active p.ng-binding  { color: #5a93b5; }*/
/*.add_ul li.last_li { border-radius: 0 0 12px 12px; }*/
/*.add_ul li:first-child {border-radius: 12px 12px 0 0; }*/
/*.add_ul.add_note li { border-radius: 12px; }*/
#loading { background: url('../images/ajax-loader.gif') no-repeat center center #fff; opacity: .8; position: absolute; height: 100%; width: 100%; z-index: 1; display: none; }
.snap { background: url('../images/icons.png') 10px 0px; display: inline-block; display: block; padding: 16px 90px 15px 0px; }
.main_menu .snap { background-position: 10px -81px; }
.header .title { color: #fff; font-size: 16px; font-weight: bold; display: inline-block; margin-top: 5px; }
.headerAdd { text-align: center; }
.headerAdd .title { font-size: 14px; margin: 7px auto 0; }
.headerAdd .titleCancel { padding: 10px; font-weight: normal; margin-top: -3px; }
.headerAdd .titleSave { padding: 10px; margin-top: -3px; }
.main_menu{position: absolute; width: 100%; height: 100%; z-index: 4; top: 0; right: 0; left: 0; bottom: 0px; display: none;}
.omain_menu {background: black;opacity: 0.5;height: 100%;width: 100%;position: absolute;z-index: 4;}
.cmain_menu {height: 100%;background: #fff;width: 85%; position: absolute;z-index: 5;left: -85%; overflow: hidden; box-shadow: 0px 5px 15px #111; }
.menu_list .nmenu_list {font-size: 18px;}
.menu_list li {color: #252525;font-size: 14px;font-weight: normal;border-bottom: 1px solid #d9d9d9;padding: 5px;}
.slide_left {-webkit-transform: translate(100%,0);-ms-transform: translate(100%,0);transform: translate(100%,0);-webkit-transition: -webkit-transform .3s ease-out;-moz-transition: -moz-transform .3s ease-out;-o-transition: -o-transform .3s ease-out;transition: transform .3s ease-out;}
.slide_right {-webkit-transform: translate(0,0);-ms-transform: translate(0,0);transform: translate(0,0);-webkit-transition: -webkit-transform .3s ease-in;-moz-transition: -moz-transform .3s ease-in;-o-transition: -o-transform .3s ease-in;transition: transform .3s ease-in;}
.daypic { background-color: #e1e1e1; border-bottom: 1px solid #ccc; box-shadow: 0px 2px 4px 0px #DDD; }
.day { font-size: 14px; font-weight: bold; color: #5a93b5; width: 230px; margin: 0 auto; display: block; text-align: center; padding: 11px 0; line-height: 20px; text-shadow: 0 1px #fff; }
.daypic .arrow { width: 44px; height: 42px; margin: 0px; background: url('../images/icons.png') 17px -181px; border-left: 1px solid #ccc; border-right: 1px solid #ccc; }
.daypic .right.arrow{ background-position: 17px -123px; }
.daypicker_modal {background: #fff; width: 300px; height: 300px; z-index: 4; position: relative; border: 1px solid #222; margin: 20px auto; border-radius: 5px; box-shadow: 0px 0px 15px #222;}
.daypicker_title { padding: 15px; border-bottom: 1px solid #e5e5e5; }
.daypicker_content { padding: 15px; }
.daypicker_holder { border:1px solid #e6e6e6; padding: 5px; font-size: 16px; height: 34px; width: 34px; overflow: hidden; }
.daypicker_inner { position: relative; }
.daypicker_inner li { padding: 6px 0; list-style: none; }
.menu_list li span { display: inline-block; padding: 16px; background: url('../images/icons.png') no-repeat -2px -432px; vertical-align: middle; margin-right: 15px; margin-left: 10px; }
.menu_list li.omenu_list span { background-position: -2px -370px;}
.menu_list li.pmenu_list span { background-position: -2px -308px;}
.menu_list li.amenu_list span { background-position: -2px -238px;}
.menu_list li.pmenu_list p { display: inline-block; }
.menu_list .nmenu_list span { background: url('../images/icons.png') no-repeat -2px -486px; padding: 16px; }
.menu_list em {display: inline-block; width: 110px; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-size: 12px; vertical-align: top  }
.emenu_list { font-size: 12px; font-weight: normal; color: #a9a9a9; }
.logoutBtn { border-radius: 10px; border: 1px solid #3a6884; margin: 5% 0px; width: 100%; padding: 12px 10px; font-size: 22px; color: #ffffff; background: url("../images/loginBg.png") repeat-x left top; text-shadow: 0px -1px #013a66; }
.allTheWay{ position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 1; margin: 0px; background: #f5f5f5; }
	.allTheWay .well { border: none; width: 100%; margin-bottom: 0px; margin-top: 20px; }
		.allTheWay .well td,.allTheWay .well th { padding: 3px; }
		.allTheWay .well .btn-sm { line-height: 2.4; }
		.allTheWay .well .pull-left { padding: 5px 14px 5px 12px; }
		.allTheWay .well .pull-right { padding: 5px 12px 5px 14px; }
.jump { padding: 7px 0px; text-align: center; margin: 0 auto; width: 280px; }
.jump .jumpy { background-color: #e1e1e1; border-bottom: 1px solid #ccc; border: 1px solid #ccc; border-radius: 10px; color: #5a93b5; font-size: 16px; padding: 10px; text-shadow: 0 1px #fff; width: 100%; font-weight: bold; }
.search { height: 42px; border-bottom: 1px solid #e6e6e6; text-align: center; }
.search input {margin: 4px 0 0px; width: 280px; border: 1px solid #bbb; padding: 5px 10px 7px; line-height: 20px; border-radius: 3px; font-size: 16px; }
.scrollerUp { top: 58px; }
.loginFormNew {  background: none repeat scroll 0 0 #f5f9fa; border: 1px solid #cee0ea; border-radius: 5px; left: 50%; margin: -172px 0 0 -161px; padding: 20px; position: absolute; top: 50%; width: 280px; }
.loginFormNew input{ color: #4d4d4d; font-family: arial,helvetica; font-size: 18px; margin-top: 20px; padding: 10px; width: 233px; }
.loginFormNew input.text { border: 1px solid #9dabb3; border-radius: 5px; padding-left: 35px; background: url('../images/icons.png') no-repeat 7px -699px #fff; }
.loginFormNew input.password { border: 1px solid #9dabb3; border-radius: 5px; padding-left: 35px; background: url('../images/icons.png') no-repeat 7px -733px #fff; }
.loginFormNew input.submit:active,.loginFormNew input.submit { background: #66b34e; color: #fff; font-weight: bold; border: hidden; border-bottom: 2px solid #539b3d; width: 280px; padding: 10px; font-size: 18px; }
.dateSpan { display: block; margin-top: 5px; }
.pre { min-height: 32px; }
.mid { margin: 10px auto; }
.dtime { display: inline-block; width: 100%; text-align: center; font-size: 110px; line-height: 120px; margin-bottom: 10px; }
.total { display: inline-block; padding: 10px; font-size: 14px; font-family: Helvetica; font-weight: bold; color: #333; margin-right: 10px; }