<div id="loading"></div>
<div menu=""></div>
<div header="" title="Expenses"></div>
<div datepic=""></div>
<div class="scroller">
	<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
	<div class="jump" ng-show="notToday">
		<input type="submit" class="jumpy" value="Jump to Today" lng="Jump to Today" hm-tap="jumpToToday()">
	</div>
	<ul>
		<li ng-repeat="expens in expense track by $index" class="projects">
			<p class="projectName">{{expens.customer_name +' > '+expens.project_name}}</p>
			<ul>
				<li class="taskDetail" hm-tap="editTask(expens.project_id,expens.expense_id,expens.project_name,expens.customer_id,expens.id)">
					<div class="right hourContainer ">
						<span class="hours left">{{expens.amount}}</span>
					</div>
					<span class="taskName">{{expens.expense_name}}</span>
				</li>
			</ul>
		</li>
	</ul>
	<div class="no_data" ng-hide="no_project" >
		<div class="loginForm">
			<p lng="No data to display"></p>
			<form>
				<input type="submit" class="submit" value="Add new expense" lng="Add new expense" hm-tap="addNewTask()">
			</form>
		</div>
	</div>
</div>