<div class="footer">
	<div class="footers left act">
		<div class="footer_active">
			<div class="blur" ></div>
		</div>
		<div class="footer_container">
			<div class="timesheet_footer"></div>
			<a href="#/timesheet" class="footer_link">Timesheet</a>
		</div>
	</div>
	<div class="footers left">
		<div class="footer_container">
			<div class="expenses_footer"></div>
			<a href="#" class="footer_link">Expenses</a>
		</div>
	</div>
	<div class="footers left footer_last">
		<div class="footer_container">
			<div class="account_footer"></div>
			<a href="#" class="footer_link">Account</a>
		</div>
	</div>
</div>