<div ng-include="'layout/header.html'" />
<ul>
	<li ng-repeat="project in projects" class="projects">
		<p class="projectName">{{project.project_name}}</p>
		<ul>
			<li ng-repeat="task in project.task" class="taskDetail">
				<span class="right arrow"></span>
				<div class="right hourContainer ">
					<span class="clock left"></span><span class="hours left">{{task.hours}}</span>
				</div>
				<span class="taskName">{{task.task_name}}</span>
			</li>
		</ul>	
	</li>
</ul>
<div data-ng-include="'layout/footer.html'" />