<div ng-include="'layout/header.html'" />
<ul>
	<li ng-repeat="project in projects" class="projects">
		<p class="projectName">{{project.project_name}}</p>
		<ul>
			<li ng-repeat="task in project.task" class="taskDetail" ng-click="editTask(project.project_id,task.task_id,task.notes)">
				<span class="right arrow"></span>
				<div class="right hourContainer ">
					<span class="clock left"></span><span class="hours left">{{task.hours}}</span>
				</div>
				<span class="taskName">{{task.task_name}}</span>
			</li>
		</ul>	
	</li>
</ul>
<div class="no_data" ng-hide="no_project" >
	<div class="loginForm">
		<p>There are no active tasks</p>
		<form>
			<input type="submit" class="submit" value="Add new task" ng-click="addNewTask()">
		</form>	
	</div>
</div>
<div data-ng-include="'layout/footer.html'" />